* {
  margin: 0;
  padding: 0;

}
.hero-section{
  display: flex;
  background-color: black;
  color: white;
  height: 100vh;
  align-items:center;
  justify-content:space-around;
}
.hero-left{
  display: flex;
  flex-direction:column;
  
}
.hero-right{
  display: flex;
  justify-content:center;
  background-color: white;
}
.profile-pic{
  place-items: center;
  width:100%;
  max-width:300px;
  height:auto;
 
}

.intrest-box{
  display: flex;
  background-color: white;
  height:100vh;
  justify-content: center;
  align-items: center;
}

.intrest-card{
  background-color: #ccc;
  width:200px;
  height:200px;
  border: solid;
  border-color: black;
  margin-right: 10px;
}


